* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    background: #2c3031;
    background-image: url("333.jpg");
}

.dropbtn {
    background-color: #1a1919;
    color: #ffffff;
    padding: 16px;
    min-width: 160px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    }
    
.dropbtn:hover, .dropbtn:focus {
    background-color: rgb(11, 136, 130);
    }
    
.dropdown {
    position: fixed;
    display: inline-block;
    left: 2vw;
    margin-top: 13vh;

    }
    
    
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
.dropdown-content a:hover {
    background-color: #ddd;
    text-decoration: none;
    }
    
.show {display: block;}
    


main .features {
    float: center;
    left: 100px;
    color: rgb(164, 165, 163);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    text-align: left;
    width: 65%;
    padding-bottom: 5px;
    height: 100%;
    font-family: Palatino, URW Palladio L, serif
}
main .features h3 {text-align: center;}
main .features h1 {color: rgb(11, 136, 130); text-align: center; font-size: 40px;}
main .features b {color:rgb(247, 253, 252); font-weight: 300;}
main .features h2 {text-align: center; font-size: 30px; margin: 20px auto 20px}
main .features p {font-size: 25px;}
main .features ul {font-size: 25px;}
main .features ol {font-size: 25px;}
main .features br {font-size: 25px; margin: 30px 0;}
main .features i {font-size: 27px;}

main .imagejob
{
    margin-top: 25px;
    border-radius: 10px 20px;
    border: 4px solid #00a8e1;
    transition: 1s;
}
.imagejob:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }

main .header {
    display: inline-block;
    position: relative;
    padding-top: 1vh;
    padding-bottom: 1vh;
    min-height: 10%;
    border-bottom: 5px solid rgb(16, 138, 132);
    text-align: center;
    font-size: 55px;
    color: #fff;
    width: 100%;
    background-color: #222222;
}

#job_tablet
{
    color: #fff;
    float: center;
    clear: both;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    padding-bottom: 10px;
    background-color: rgb(149, 150, 153);
}
.alert-warning {
    color: #fff;
    float: center;
    clear: both;
    width: 80%;
    margin: 20px auto;
    text-align: center;
    padding-bottom: 10px;
    background-color: rgb(197, 207, 175);
}

a:hover, a:visited, a:link, a:active
{
text-decoration: none;
color: #000;
}

main .footer {
    margin-top: 20px;
    position: relative; /* ������������� ��������� */
    display: inline-block;
    color: #fff; /* ���� ������ */
    height: 10%;
    width: 100%; /* ������ ���� */
    background: #181818;
    color: #fff;
    border-top: 5px solid rgb(11, 136, 130);
    border-bottom: 5px solid #181818;
    text-align: center;
}


main .add_comments{
    position: relative;
    width: 900px;
    max-width: 65%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    color: #fff;
}

.add_comments f{
    max-height: 10%;
}
.features .add_com {
    width: 500px;
    margin: 0 auto;
}

.comments b {
    color: rgb(11, 136, 130);
}

 .comments{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 65%;
    padding-left: 16px;
    padding-right: 16px;
    margin-top: 25px;
    color: #fff;
    padding-bottom: 20px;
}

.section {
    display: flex;
    position: relative;
    gap: 20px;
    max-height: 500px;
    max-width: 65%;
    overflow-x: auto;
    scroll-snap-type: x proximity;
    box-shadow: 0 3px 5px 0 rgba(#000, 0.1);
    -webkit-overflow-scrolling: touch;
    scroll-padding: 1rem;
    padding: 1rem;
    margin: auto;
    border-radius: 5px;
    scrollbar-width: none;
  }

  .section::-webkit-scrollbar { 
    width: 12px;
    /*height: 0;*/
}
    .section::-webkit-scrollbar-track {
        background: rgb(149, 150, 153); /* цвет дорожки */
    }
    .section::-webkit-scrollbar-thumb {
        background-color: rgb(11, 136, 130); /* цвет плашки */
        border-radius: 20px; /* закругления плашки */
        border: 3px solid rgb(149, 150, 153);
    }
  .section__item1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 400px;
    width: 350px;
    height: 200px;
    scroll-snap-align: start;
    background-color: rgb(149, 150, 153);
    color:#000;
    border-radius: 5px;
    text-align: center;
  }

  .section__item2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 400px;
    width: 350px;
    height: 200px;
    scroll-snap-align: start;
    background-color: rgb(197, 207, 175);
    color:#000;
    border-radius: 5px;
    text-align: center;
  }

.section__item1 h3 {
    font-size: 13px;
}
.section__item1 h1 {
    font-size: 18px;
    text-decoration: none !important;
    margin: 20px auto
}
.section__item1 p {max-width: 600px; margin: 20px auto; padding: auto auto 15px;}

.section__item2 h3 {
    font-size: 13px;
}
.section__item2 h1 {
    font-size: 18px;
    text-decoration: none !important;
    margin: 20px auto
}
.section__item2 p {max-width: 600px; margin: 20px auto; padding: auto auto 15px;}

.button {
    position: relative;
    display: flex;
    justify-content:center;

    padding: 0px 5px 6px;
    margin: 20px 20px;
    left:48%;
    transform: translate(-49%,0);
    top: 10px;
    margin-bottom: 5px;
    width: 150px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    box-sizing: border-box;
    background: rgb(11, 136, 130);
    background-size: 400%;
    border-radius: 30px;
    z-index: 1;
}
   
  .button:hover {
    animation: animate 16s linear infinite;
  }
   
  @keyframes animate {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 400%;
    }
  }

.button:before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    z-index: -1;
    background: linear-gradient(90deg, #FEFFFF, #A7CECC);
    background-size: 400%;
    border-radius: 40px;
    opacity: 0;
    transition: .5s;
}
   
  .button:hover:before {
    filter: blur(20px);
    opacity: 1;
    animation: animate 16s linear infinite;
  }

