{% extends 'main/layout.html' %}

{% block content %}

    <div class='features'>
        <h1>{{ article.title }}</h1>
        <p>{{ article.date }}</p>
        <p>{{ article.full_text }}</p>
    </div>
    <div class='features'>
        <h1>Добавить Комментарии</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.email }}<br>
            {{ form.body }}<br>
            
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
    <div class="features">
        <h4>Комментарии</h4>
        {% for comment in comments %}
        Пользователь - {{ comment.name }}<br>
        {{ comment.body }} <br>
        Добавлен - {{ comment.created }}<br><br>
        {% endfor %}
    </div>
    

{% endblock %}

{% block title %} {{article.title}} {% endblock %}