{% extends 'main/layout.html' %}

{% block content %}

<div class="header">
    <h1>INTERSTUD</h1>
</div>

    <div class='features'>
        <h1>{{ article.title }}</h1>
        <p>{{ article.date }}</p>
        <p>{{ article.full_text | safe }}</p>
    </div>


    {% if request.user.is_authenticated %}
    <div class='add_comments'>
        <h1>Добавить Комментарии</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.email }}<br>
            {{ form.body }}<br>
            
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
    {% endif %}
    <div class="comments">
        <h4>Комментарии</h4>
        {% for comment in comments %}
        Пользователь - {{ comment.name }}<br>
        {{ comment.body | linebreaks }} <br>
        Добавлен - {{ comment.created }}<br><br>
        {% endfor %}
    </div>
    <div class='footer'>
        <p>text</p>
    </div>    

{% endblock %}

{% block title %} {{article.title}} {% endblock %}