{% extends 'main/layout.html' %}

{% block content %}
<div class="header">
    
    
    <h1><img src="/media/logo.png" , width='40'>      INTERSTUD</h1>
</div>

<div class='features'>
    <br>
    <center>
    <img src="/media/logo.png", width='40'>
    </center>
    <br>
    <h1>Про нас</h1>
    <p>Всем привет!</p>
    <p>Мы - студенты, а именно поэтому нас заинтересовала тема поиска стажировок.</p>
    <p>Сейчас существует множетсво сайтов для поиска работы, подработок, стажировок, но обычному студенту очень сложно найти работу, потому что среди всех объявлений мало мест, где берут без опыта работы и по специальности.</p>
    <p>Поэтому и пришла идея создания данного Web-ресурса.</p>
    <p></p><p></p>
    <h2><b>У нас в команде есть 4 человека:</b></h2>
    <p></p>
    <h3><b>Игошкина Анастасия</b></h3>
    <p><i>igoshkina@tippochta.ru</i></p>
    <p>Проанализировала требования и составила техническое и функциональное задания. Это является первым этапом разработки проекта. Также составила схему базы данных, чтобы, отталкиваясь от схемы БД, остальные могли приступить к следующему шагу.</p>
    <p></p>
    <h3><b>Бянкина Ангелина</b></h3>
    <p><i>byankina@tippochta.ru</i></p>
    <p>Выполнила наброски прототипа сайта, создала интерактивный прототип, чтобы примерно показать остальным структура сайта из технического задания. Вместе с Марией занималась созданием дизайна сайта. </p>
    <p></p>
    <h3><b>Данилова Мария</b></h3>
    <p><i>danilova@tippochta.ru</i></p>
    <p>Занималась заполнением Базы данных - наполняла сайт контентом. Сайт без контента не привлечет внимание пользователей и будет бесполезным.</p>
    <p></p>
    <h3><b>Шабалинов Степан</b></h3>
    <p><i>shabalinov@tippochta.ru</i></p>
    <p>Создал базу данных и связал ее с сайтом для отображения информации. Также является инициатором выбора некоторых технических решений.</p>
    <p></p>
    <center>
    <img class="imagejob" src="https://i.ytimg.com/vi/gGfc_eYvipU/maxresdefault.jpg" width="500">
    </center>
</div>
<div class='footer'>
    <br><p>Контакты</p>
    <p>aa195aivt@gmail.com</p>
</div>

{% endblock %}

{% block title %} About {% endblock %}