{% extends 'main/layout.html' %}

{% block content %}


<div class='bl4 block_about'>
    <h1>Всем привет!</h1>
    <p>Мы - студенты, а именно поэтому нас заинтересовала тема поиска стажировок.</p>
    <p>Сейчас существует множетсво сайтов для поиска работы, подработок, стажировок, но обычному студенту очень сложно найти работу, потому что среди всех объявлений мало мест, где берут без опыта работы и по специальности.</p>
    <p>Поэтому и пришла идея создания данного Web-ресурса.</p>
</div>

<div class="bl5 block_about">
    <h1>Немного о нас:</h1>
</div>

<div class="bl7 block_about"> 
    <img src="/media/about/Ig.jpg"  width='430' align="left" style="border: 15px solid rgb(239, 240, 239);">
      <h1>Игошкина Анастасия</h1>
      <p>Проанализировала требования и составила техническое и функциональное задания. Это является первым этапом разработки проекта. Также составила схему базы данных, чтобы, отталкиваясь от схемы БД, остальные могли приступить к следующему шагу.</p>
</div>

<div class="bl7 block_about">
    <img src="/media/about/Byaka.jpg"  width='430' align="right" style="border: 15px solid rgb(239, 240, 239);">
      <h1>Бянкина Ангелина</h1>
      <p>Выполнила наброски прототипа сайта, создала интерактивный прототип, чтобы примерно показать остальным структура сайта из технического задания. Вместе с Марией занималась созданием дизайна сайта. </p>
    </div>
</div>

<div class="bl7 block_about">
    <img src="/media/about/Masha.jpg"  width='430' align="left" style="border: 15px solid rgb(239, 240, 239);">
      <h1>Данилова Мария</h1>
      <p>Занималась заполнением Базы данных - наполняла сайт контентом. Сайт без контента не привлечет внимание пользователей и будет бесполезным.</p>
</div>

<div class="bl7 block_about">
    <img src="/media/about/Shaba.jpg"  width='430' align="right" style="border: 15px solid rgb(239, 240, 239);">
      <h1>Шабалинов Степан</h1>
      <p>Создал базу данных и связал ее с сайтом для отображения информации. Также является инициатором выбора некоторых технических решений.</p>
 </div>


{% endblock %}

{% block title %} About {% endblock %}