{% extends 'main/layout.html' %}

{% block content %}
<div class="header">
    <h1>INTERSTUD</h1>
</div>

<div class='features'>
    <center>
    <img src="/media/logo.png", width='40'>
    </center>
    <h1>Про нас</h1>
    <p>Всем привет!</p>
    <p>Мы - студенты, а именно поэтому нас заинтересовала тема поиска стажировок.</p>
    <p>Сейчас существует множетсво сайтов для поиска работы, подработок, стажировок, но обычному студенту очень сложно найти работу, потому что среди всех объявлений мало мест, где берут без опыта работы и по специальности.</p>
    <p>Поэтому и пришла идея создания данного Web-ресурса.</p>
    <p></p><p></p>
    <h3>У нас в команде есть 4 человека:</h3>
    <p></p>
    <h4>Игошкина Анастасия</h4>
    <p>igoshkina@tippochta.ru</p>
    <p>Проанализировала требования и составила техническое и функциональное задания. Это является первым этапом разработки проекта. Также составила схему базы данных, чтобы, отталкиваясь от схемы БД, остальные могли приступить к следующему шагу.</p>
    <p></p>
    <h4>Бянкина Ангелина</h4>
    <p>byankina@tippochta.ru</p>
    <p>Выполнила наброски прототипа сайта, создала интерактивный прототип, чтобы примерно показать остальным структура сайта из технического задания. Вместе с Марией занималась созданием дизайна сайта. </p>
    <p></p>
    <h4>Данилова Мария</h4>
    <p>danilova@tippochta.ru</p>
    <p>Занималась заполнением Базы данных - наполняла сайт контентом. Сайт без контента не привлечет внимание пользователей и будет бесполезным. Вместе с Ангелиной создавала дизайн сайта.</p>
    <p></p>
    <h4>Шабалинов Степан</h4>
    <p>shabalinov@tippochta.ru</p>
    <p>Создал базу данных и связал ее с сайтом для отображения информации. Также является инициатором выбора некоторых технических решений.</p>
    <p></p>
    <img src="https://i.ytimg.com/vi/gGfc_eYvipU/maxresdefault.jpg" width="500">
</div>
<div class='footer'>
    <p>text</p>
</div>

{% endblock %}

{% block title %} About {% endblock %}