{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>    
    <div class="siteWrapper">
        <div class="header">
            <div class="logo">
                <h1><img src="/media/header/logo.png" , width='30'>      INTERSTUD</h1>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="{% url 'home' %}">Главная</a></li>
                    <li><a href="{% url 'job_home' %}">Вакансии</a></li>
                    <li><a href="{% url 'news_home' %}">Статьи</a></li>
                    <li><a href="#">Практика</a></li>
                    <li><a href="{% url 'about' %}">Про<spand style="color:white;">_</spand>нас</a></li>
                    <!--<a href="{% url 'register' %}"><li> Регистрация </li></a>-->
                </ul>

            </div>
            <div class="bokmenu menu">
                {% if request.user.is_authenticated %}
                <li>
                    <a style="padding: 16px; margin: 0 auto 0;" href="#"><img src="/media/header/lk.jpg" , width='23' , top="0px">  Личный кабинет</a>
                    <ul class="submenu" style="float:right">
                        <li><a style="background-color: #e2e2e2;" href="{% url 'liked' %}">Избранное</a></li>
                        <li><a style="background-color: #e2e2e2;" href="{% url 'logout' %}">Выйти</a></li>
                    </ul>
                </li>
                {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}
            </div>
            <div>
                <form action="{% url 'find' %}" method="get">
                    {{ form4.as_p }}
                    <input type="submit" value="Поиск">
                </form>
            </div>
        </div>

   

    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <div class="footer">
        <br><p>Контакты</p>
        <p>aa195aivt@gmail.com</p>
    </div>
</div>
</body>
</html>