{% extends 'main/layout.html' %}

{% block content %}

<h1>Личный кабинет</h1>
<div class='bl12 blocks'>
    <h1>Статьи</h1>
    {% for el in article %}
        <div class="alert alert-warning">
            <a href="{% url 'news_detail' el.id_article.id %}">
            <h3>{{ el.id_article.title }}</h3>
            <p>{{ el.id_article.anons }}</p>
            </a>
        </div>
    {% endfor %}
</div>

<div class='bl12 blocks'>
    <h1>Вакансии</h1>
    {% for el in job %}
        <div class="alert alert-warning">
            <a href="{% url 'job_detail' el.id_job.id %}">
            <h3>{{ el.id_job.title }}</h3>
            <p>{{ el.id_job.anons }}</p>
            </a>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block title %} Main {% endblock %}