{% extends 'main/layout.html' %}

{% block content %}
<div class="header">
    <h1>INTERSTUD</h1>
</div>

    <div class='features'>
        <h1>{{ job.title }}</h1>
        <h2><b>Специализация:</b> {{ job.specialty }}</h2>
        <h3>от <b>{{ job.salary }}</b> руб. до вычета налогов</h3>
        <h3>✓ {{ job.company }}</h3>
        <h3>График работы: <i>{{ job.work_graph }}</i></h3>
        <h3>Занятость: <i><input type="checkbox" checked="{{ job.full_part_time }}" disabled></i></h3>
        {% if job.image %}
        <center>
        <img src="{{ MEDIA_URL }}{{ job.image.url }}",   width="450">
        </center>
        {% endif %}
        <div class='description'><h2> {{ job.full_text |safe }}</h2></div>
        <h4><i>Вакансия опубликована {{ job.post_date }} в Москве.</i></h4>

        {% if request.user.is_authenticated %}
        <button class="btn btn-success" type="submit" onclick="alert('Для совершения этого действия необходимо зарегистрироваться')">Откликнуться на вакансию</button>
        <button class="btn btn-warning" type="submit" onclick="alert('Для совершения этого действия необходимо зарегистрироваться')">Добавить в избранное</button>
        {% endif %}
    </div>
    {% if request.user.is_authenticated %}
    <div class='add_comments'>
        <h1>Добавить Комментарии</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.email }}<br>
            {{ form.body }}<br>
            
            <button class="btn btn-success" type="submit">Добавить</button>
        </form>
    </div>
    {% endif %}
    <div class="comments">
        <h4>Комментарии</h4>
        {% for comment in comments %}
        Пользователь - {{ comment.name }}<br>
        {{ comment.body }} <br>
        Добавлен - {{ comment.created }}<br><br>
        {% endfor %}
    </div>
    

{% endblock %}

{% block title %} {{job.title}} {% endblock %}